
body{
    text-align: center;
    background-color: rgb(255, 253, 252);
    font-family: Arial, Helvetica, sans-serif;
}
header li{
    list-style-type: none;
    display: inline;
    color: black;
    font-size: 20px;
    padding: 2em;
}
li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-size-adjust: 7em;
}
header ul{
    background-color: pink;
    padding: 1em;
    margin: 0;
}
h1 a{
    text-decoration: none;
    color: black;
}
.imagem{
    margin: -23em 100em 4em auto;
}
.container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(13, 115, 129);
    text-align: center;
    padding: 5em;
    margin: 5em 5em 5em 40em;
    color: white;
    font-size: small;
    border-radius: 2em;
}
.texto1{
}
nav a:hover{
    color:rgb(255, 255, 255);
}
footer{
    color: black;
    background-color: rgb(255, 223, 230);
    padding: 3em;
}
p{
    margin: 3em auto auto auto;
}